
/* Estilos del contenedor */
.map-container {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

/* El contenedor donde se dibuja el mapita */
.mapita {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}



.widget-container {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 10px;
  border-radius: 15px;
  z-index: 1000;
}

#app {
  height: 100%;
}



/* Media Queryes para responsividad */

@media (max-width: 900px) {
  #root {
    max-width: 100%;
   
  }
  .mapita {
    height: 100vh;
    min-height: 100vh;
  }
  /* .map-title {
    font-size: 1.1rem;
    padding: 8px 12px;
    top: 10px;
    left: 10px;
  } */
  .widget-container {
    padding:8px;
    bottom: 6px;
    right: 6px;
    
  }
}

@media (max-width: 600px) {
  
  .mapita {
    height: 100vh;
    min-height: 100vh;
  }
  /* .map-title {
    font-size: 1rem;
    padding: 6px 8px;
    top: 6px;
    left: 6px;
  } */
  .widget-container {
    padding: 6px;
    bottom: 4px;
    right: 4px;
  }
}
